.git
.idea

node_modules

backend/.env

*.lock

/coverage

/build
/dist

.eslintrc.json

.env

/.github/workflows/actions.yml
/.github/workflows/context.yml
/.github/workflows/env.yml
/.github/workflows/simple.yml
/frontend/dist/index.html
/frontend/dist/assets/index-262be39d.css
/frontend/dist/assets/index-b25cd8c9.js
/frontend/dist/vite.svg
/frontend/dist/assets/index-9d24e66d.js
/frontend/dist/assets/index-91c97d4c.js
frontend/dist/assets/index-fd66a6e5.css
frontend/dist/assets/index-57275db6.js
