.git
.idea

node_modules

backend/.env

*.lock

/coverage

/build
/dist

.eslintrc.json

.env

/.github/workflows/actions.yml
/.github/workflows/context.yml
/.github/workflows/env.yml
/.github/workflows/simple.yml
